.nav {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  height: 100px;
  width: 100%;
  padding-right: 25px;
  background-color: #654e30;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.5rem;
  color: rgb(227, 223, 223);
}

.links-container {
  margin-left: auto;
}
