/* .App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: bg-light;
  /* background-color: #c9b590;
background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); */
}
